

.l-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 3.5fr;
    grid-template-rows: 1fr 0.6fr 2fr 0.4fr;
    grid-template-areas: 
    "side-bar header-logo"
    "side-bar nav-bar"
    "side-bar container"
    "side-bar footer";
    grid-gap: 0.3rem;
    margin: 5px;
       
}

.side-bar {
    background: #657774;
    grid-area: side-bar;
    border-radius: 15px;
    color: whitesmoke; 
          
}

.side-bar h3{
    text-align: center;
}


#header-logo {
    width: 100%;
    height: 400px;
    /*background-color: #1BA0CF;*/
    align-items: center;
    border-radius: 20px ;
    grid-area: header-logo;
    animation-duration: 40s;
    animation-name: l-header;
    animation-iteration-count: infinite;
    animation-direction: alternate;   
}

@keyframes l-header {
    0%, 20% {
    background-image: url(./img/ghibli6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
        
    25%, 40% {
    background-image: url(./img/ghibli2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
        
    45%, 60% {
    background-image: url(./img/ghibli3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
        
    5%, 80% {
    background-image: url(./img/ghibli4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
        
    85%, 100% {
    background-image: url(./img/ghibli5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }       
}

#nav-bar {    
    height: 65px;
    background-color: #D3A3BC;
    display: flex;
    /*flex-wrap: wrap; */
    grid-area: nav-bar;   
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    
}

.select {
    width: 130px;
    display: flex; 
    border-radius: 5px;
    padding: 3px;
   
}

/*.select-specie {
    text-align: center;
}*/

#buttonAz {
    border-radius: 20px;
    width: 60px;
    height: 30px;
    border: 1px solid rgb(125, 126, 129);
    
}

.compute-stats {
    text-align: center;
    color: rgb(61, 46, 41);
    
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;    
    grid-area: container;
    margin: 20px 40px 10px 40px;
    /*background: url(./img/totoroolhando.png);
    */  
}

.l-background {
    opacity: 0.3;
    width: 90%;
    height: 400px;
}

#card-title {
    text-align: center;
    font: rgb(32, 40, 17);
}

.info_list {
    text-align: left;  
    
}

.card {
    width: 300px;
    height: 400px;
    margin: 12px 4px;
    border-radius: 20px;
    box-shadow: 2px 2px 23px rgb(10, 18, 54);
    background-color: rgb(161, 192, 191);
    
}

.img {
    width: 100%;
    height: 230px;
    background-size: cover;
    background-position: top;
    border-radius: 20px 20px 0 0;
}

#card-title {
    margin-top: 5px;        
}

.info_list {  
    margin-top: -10px;
    margin-left: -25px;   
    align-self: center;
    font: rgb(32, 40, 17);
    font-size: 18px;
}

footer{
    background: #D3A3BC;
    grid-area: footer;
    border-radius: 5px;    
    text-align: center;
}

@media only screen and (max-width: 550px){
    .l-grid{        
        grid-template-columns: 1fr;
        grid-row: 1fr 0.75fr 0.75fr 1.25fr 0.25fr ;
        grid-template-areas: 
        "header-logo"
        "side-bar"
        "nav-bar"
        "container"
        "footer";
    }
        
    .side-bar {        
        display: flex;
        flex-wrap: wrap;     
    }

    .sidebar-title {
        margin: 0 auto;
    }

   .list-icons {
        display: flex;
        flex-wrap: wrap;        
   }

   .list-item {
       margin: 5px;
   }

    #nav-bar {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        height: 80px;      
    }

    .select {
        width: 30%;
        margin-right: 5px;
    }
    
    .container {
        justify-content: center;
    }   
/*
    #card-title {
        margin-top: 5px;        
    }

    .info_list {  
        margin-top: -10px;
        margin-left: -25px;   
        align-self: center;
        font: rgb(32, 40, 17);
        font-size: 18px;
    }*/
}